--- 
layout: default 
---
<div id="collection">
  <ul class="collection">
    
  {% for item in site[page.collection] %}
    {% if item.layout != "collection" %}

      <li class="collection-item avatar">
      
        <span class="title">{{ item.title }}</span>
        <p>{{ item.description }}</p>
      
        {% if item.external_url %}
        {{ external_url }}
          <a  class="secondary-content" target="_blank" href="{{ item.external_url }}"><i class="material-icons">link</i></a>
        {% else %}
          <a class="secondary-content" href="{{ item.url }}"><i class="material-icons">visibility</i></a>
        {% endif %}
    </li>
    {% endif %}
  {% endfor %}

  </ul>
</div>
