--- 
layout: default
---
<div class="container">
    <div class="row">
        {% for collection in site.collections %}
        <div class="home-card col s12 m6 l3">

            <div class="card">
                <div class="card-title card-{{ collection.label }}">
                    <h4>{{ collection.label}}</h4>
                    {{ collection.url }}
                </div>
                <div class="card-action mdl-card--border">
                    <a href="/{{ collection.label }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View</a>
                </div>
            </div>
            
        </div>     
        {% endfor %}
    </div>
</div>
